################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BIg Two/obj/Debug/net5.0
/.vs/BIg Two/v16
/BIg Two/bin/Release/net5.0
/BIg Two/obj
